
.game-title {
	display: block;
}

.game-title a {
	color: #111;
}

.no-min-height {
	min-height: 0px;
}

.screenshot-thumbnail {
	overflow: hidden;
	text-align: center;
}

.screenshot-thumbnail img {
	max-width: none;
	height: 150px;
}
